@(username: String)

@main(username) {

	<h3>ring</h3>
	
	gladiator position: <input id="current-position" type="text"/>

	<div id="ring">
	
		@for( i <- 1 to 15){
			@for( j <- 1 to 15){
				<div class="position x_@i y_@j">
					<input class="x" type="hidden" value="@i">
					<input class="y" type="hidden" value="@j">
					<span class="text"></span>
				</div>	
			}
		
			<div class="separator"></div>
		}
	
	</div>

	<script type="text/javascript" charset="utf-8">
    
            var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
	        var chatSocket = new WS("@routes.Engine.connections(username).webSocketURL(request)")
            
            var sendMessage = function(x, y, action) {
            
        		chatSocket.send(JSON.stringify(
                	{
                	username: '@username',
                	x: x,
                 	y: y,
                 	action: action}
            	))
            	
            	console.log("pudo transmitir");
            }
            
			var receiveEvent = function(event) {
                var data = JSON.parse(event.data)
                
                // Handle errors
                if(data.error) {
                    chatSocket.close()
            		alert("error receiving data fron server");
                    return
                } else {
                    //console.log("receiving data fron server");
                    //console.log("Type:" + data.type);
                    //console.log("username:" + data.username);
                    //console.log("x:" + data.x);
                    //console.log("y:" + data.y);
                    //console.log('selector: .x_' + data.x + '.y_' + data.y);
                    //console.log('data.previous_x:' + data.previous_x);
                    console.log('resultType:' + data.resultType);
                    
                    if(data.previous_x != null && data.previous_y != null) {
                    
                    	console.log('.x_' + data.previous_x + '.y_' + data.previous_y);
                    	// Clean previous position
                    	$('.x_' + data.previous_x + '.y_' + data.previous_y).removeClass('selected').removeClass(data.username);
                    	$('.x_' + data.previous_x + '.y_' + data.previous_y).find('.text').html("");
                    }

					// Mark new position
					$('.x_' + data.x + '.y_' + data.y).addClass('selected').addClass(data.username);
                    $('.x_' + data.x + '.y_' + data.y).find('.text').html(data.username);
                    
                    // If operation success lets move view to selection
                	$('html, body').animate({
				        scrollTop: $('.x_' + data.x + '.y_' + data.y).offset().top - 200
				    }, 0);
                }
            }
            
            chatSocket.onmessage = receiveEvent;
            
            $("#ring .position").click(function(e){
            
            	var x = $(this).find('.x').val();
            	var y = $(this).find('.y').val();
            
            	sendMessage(x, y, 'selected');
			});
			
			$(document).keydown(function(e){
			     
					var x = $('.selected.@request().getQueryString("username")').find('.x').val();
					var y = $('.selected.@request().getQueryString("username")').find('.y').val()
					
					// left
					if (e.keyCode == 37) {
						sendMessage(x, +y - 1, 'selected');
					}
					
					// up
					if (e.keyCode == 38) {
						sendMessage(+x - 1, y, 'selected');
					}
					
					// right
					if (e.keyCode == 39) {
						sendMessage(x, +y + 1, 'selected');
					}
					
					// down
					if (e.keyCode == 40) {
						sendMessage(+x + 1, y, 'selected');
					}
					
			       return false;
			    
			});
    
    </script>
}